/**
* @name FurinaTheme
* @author Valastor
* @description A theme based on Furina from Genshin Impact
* @invite rtBQX5D3bD
* @version 1.0
*/
@import url("https://raw.githubusercontent.com/Valastored/github-theme/refs/heads/main/main.css");

:root {

/* --- User variables --- */

/* Jumping GIF */
--jumping-gif: url('https://upload-os-bbs.hoyolab.com/upload/2024/01/01/296851425/2b0f2400346cd7621931df075bcb43c7_3996149763167465138.gif');

/* Background (if you want an image replace it by : 

--background-tertiary-alt: url("image-link"); without that => */
--background-tertiary-alt: url("https://motionbgs.com/media/6687/furina-rain.jpg");

@media (orientation: portrait) {
    --background-tertiary-alt: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/74e4a3bc-3184-41f9-8f5e-aeb219d0c7db/dhgv8hi-394f1cd1-fe5d-4b2d-a536-696095a25213.png/v1/fill/w_1280,h_2276,q_80,strp/furina_minimalism_wallpaper__genshin___phone__by_notdyn_dhgv8hi-fullview.jpg");
}


/* Border-radius for the whole theme */
--border-radius: 20px;

}

.theme-dark {

    /* Text */
    --text-normal: #e1e1f8;
    --header-primary: #e1e9f8;
    --interactive-normal: #b1b6fa;
    --channels-default: #e1e2f8;

    --text-muted: #c1c8e2;
    --interactive-muted: #948cad;

    --header-secondary: #c1c1e2;
    --interactive-hover: #c1c5e2;
    --interactive-active: #c1c1e2;

    /* Background color */
    --background-primary: rgba(31, 31, 46, 0.7) !important;
    --background-secondary: rgba(54, 49, 75, 0.9);
    --background-secondary-alt: rgba(82, 73, 117, 0.9);
    --background-tertiary: #100f22;
    --background-floating: #111522;
    --background-accent: #5353c5;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(35, 31, 56, 0.32);
    --background-modifier-active: rgba(19, 12, 12, 0.32);
    --background-modifier-selected: rgba(21, 21, 31, 0.32);
    --toast-background: #36375e !important;
    --toast-header: #1d203b !important;
    --toast-contents: #302949 !important;
    --toast-border: #2b2949 !important;

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);

    :is(.layers_d4b6c5,.layers_a01fb1)>:is(.layers_d4b6c5,.layers_a01fb1,.layer_d4b6c5,.layerContainer_cd0de5,.layer_cd0de5,.layer_c9e2da)>:is(.container_a4d4d9,.container_ee69e0,.container_fd6364,.container_fa295b,.container_eba0ba,.containerPadding_eba0ba,.containerDefault_f6f816,.containerDefault_a08117,.container_cc72c1,.container_e1e976,.container_b2ca13,.container_e44302,.container_b558d0,.container_a3b500,.container_c47562,.container_cbd271,.container_e9f61e,.erd_scroll_detection_container,.erd_scroll_detection_container_animation_active,.containerTop_b18d5c,.containerWithContent_b64375,.container_b64375,.container_c9ccf6,.container_afed89,.container_c10249,.container_f4e139,.container_effbe2,.container_eedf95,.react-datepicker__month-container,.container_b15955,.container_ad9cbd,.container_c2739c,.container_c18ec9,.container_bf550a,.container_e5a42d,.container_df5532,.container_da1432,.container_ed1d57,.container_cebd1c,.vc-addon-title-container,.container_f0fccd,.container_f8b740,.container_c2668b,.container_e62b38,.container_ddc613,.container_f13432,.container_dc0b54,.container_c30bea,.container_b56bbc,.container_e41913,.container_af1167)::after {
        content: "Furina";
        position: fixed;
        top: 220px;
        bottom: 85px;
        right: 60px;
        z-index: -2;
        width: 320px;
        background-color: var(--background-primary);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: var(--text-normal);
        border-radius: var(--border-radius);
        overflow: hidden;
    }
}
    .colorBrand-ROmMP1 { color: #4f4bbd;}
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-1Gx00P { background-color: #535bc5 !important;}
    .lookFilled-1Gx00P:active, .lookFilled-1Gx00P:hover { background-color: #634ab6 !important;}
    .lookOutlined-3sRXeN:not(.colorWhite-rEQuAQ) { color: #5359c5; border-color: #6853c5;}

    /* Hover background */
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { color: var(--interactive-normal);}

.theme-light {

    /* Text */
    --text-normal: #6563a8;
    --header-primary: #6463a8;
    --interactive-normal: #6963a8;
    --channels-default: #6563a8;

    --text-muted: #636ba8;
    --interactive-muted: #9792cf;

    --header-secondary: #a292cf;
    --interactive-hover: #857dbe;
    --interactive-active: #726fb3;

    /* Background color */
    --background-primary: #FFFFFF;
    --background-secondary: #ffeeee;
    --background-secondary-alt: #c7cbfd;
    --background-tertiary: #bbbbff;
    --background-floating: #c1bbff;
    --background-accent: #5373c5;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(31, 33, 56, 0.062);
    --background-modifier-active: rgba(13, 12, 19, 0.123);
    --background-modifier-selected: rgba(21, 21, 31, 0.11);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);

    :is(.layers_d4b6c5,.layers_a01fb1)>:is(.layers_d4b6c5,.layers_a01fb1,.layer_d4b6c5,.layerContainer_cd0de5,.layer_cd0de5,.layer_c9e2da)>:is(.container_a4d4d9,.container_ee69e0,.container_fd6364,.container_fa295b,.container_eba0ba,.containerPadding_eba0ba,.containerDefault_f6f816,.containerDefault_a08117,.container_cc72c1,.container_e1e976,.container_b2ca13,.container_e44302,.container_b558d0,.container_a3b500,.container_c47562,.container_cbd271,.container_e9f61e,.erd_scroll_detection_container,.erd_scroll_detection_container_animation_active,.containerTop_b18d5c,.containerWithContent_b64375,.container_b64375,.container_c9ccf6,.container_afed89,.container_c10249,.container_f4e139,.container_effbe2,.container_eedf95,.react-datepicker__month-container,.container_b15955,.container_ad9cbd,.container_c2739c,.container_c18ec9,.container_bf550a,.container_e5a42d,.container_df5532,.container_da1432,.container_ed1d57,.container_cebd1c,.vc-addon-title-container,.container_f0fccd,.container_f8b740,.container_c2668b,.container_e62b38,.container_ddc613,.container_f13432,.container_dc0b54,.container_c30bea,.container_b56bbc,.container_e41913,.container_af1167)::after {
        content: "Furina";
        position: fixed;
        top: 220px;
        bottom: 85px;
        right: 60px;
        z-index: -2;
        width: 320px;
        background-color: var(--background-primary);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: var(--text-normal);
        border-radius: var(--border-radius);
        overflow: hidden;
    }
}

    .colorBrand-ROmMP1 { color: #6853c5;}
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-1Gx00P { background-color: #5359c5 !important;}
    .lookFilled-1Gx00P:active, .lookFilled-1Gx00P:hover { background-color: #534ab6 !important;}
    .lookOutlined-3sRXeN:not(.colorWhite-rEQuAQ) { color: #5353c5; border-color: #5b53c5;}

    /* Hover background */
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { color: var(--interactive-normal);}

    :root .app-2CXKsg::before { background: url(https://cdn.discordapp.com/attachments/530917134100856832/989199248518180955/Webp.net-resizeimage_5.png); }
    :root .app-3xd6d0::before,
    :root .app-3xd6d0::after, 
    :root .app-2CXKsg::after,
    :root .layers-OrUESM::before,
    :root .layers-OrUESM::after,
    :root .app-3xd6d0::before, 
    :root .bg-1QIAus::after,
    :root .bg-1QIAus::before {
  content: none !important;
    }
  .container-1eFtFS::after{content:"Scared Yet?";}
  .homeIcon-r0w4ny path {fill: transparent}
.homeIcon-r0w4ny {
    background: url('https://cdn.discordapp.com/attachments/530917134100856832/989239956981547088/original.jpg') center/cover no-repeat;
    min-width: 60px;
    min-height: 60px;
}



