/**
* @name HuTaoTheme
* @author Valastor
* @description A theme based on Hu Tao from Genshin Impact
* @invite rtBQX5D3bD
* @version 1.0
*/
@import url("https://raw.githubusercontent.com/Valastored/github-theme/refs/heads/main/main.css");

:root {

/* --- User variables --- */

/* Jumping GIF */
--jumping-gif: url('https://64.media.tumblr.com/aaf627eec6bfd0e25456448d50b00b54/5055027a25ccf478-f5/s500x750/f3aa5c032527088805f37f0dcd0c52e0cea3e510.gifv');

/* Background (if you want an image replace it by : 

--background-tertiary-alt: url("image-link"); without that => */
--background-tertiary-alt: url("https://images4.alphacoders.com/129/1297085.jpg");

@media (orientation: portrait) {
    --background-tertiary-alt: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/be9354a8-ab7f-4660-8d54-8861fb1c81e7/dem2xq1-5e94c82b-791a-463e-80b3-51e330a7cf66.jpg/v1/fit/w_828,h_1472,q_70,strp/genshin_impact___hu_tao_wallpaper_by_hierosonyma_dem2xq1-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjI0NyIsInBhdGgiOiJcL2ZcL2JlOTM1NGE4LWFiN2YtNDY2MC04ZDU0LTg4NjFmYjFjODFlN1wvZGVtMnhxMS01ZTk0YzgyYi03OTFhLTQ2M2UtODBiMy01MWUzMzBhN2NmNjYuanBnIiwid2lkdGgiOiI8PTEyNjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Kx0m9LCezXcoqhW-RU0HDnMT7adjSvGL8zFeAKLMr2U");
}

/* Border-radius for the whole theme */
--border-radius: 20px;

}

.theme-dark {

    /* Text */
    --text-normal: #f8e1e5;
    --header-primary: #f8e1e5;
    --interactive-normal: #fab1bd;
    --channels-default: #f8e1e5;

    --text-muted: #e2c1c7;
    --interactive-muted: #ad8c91;

    --header-secondary: #e2c1c7;
    --interactive-hover: #e2c1c7;
    --interactive-active: #e2c1c7;

    /* Background color */
    --background-primary: rgb(46, 31, 34, 0.7) !important;
    --background-secondary: rgb(75, 49, 50, 0.9);
    --background-secondary-alt: rgb(117, 73, 82, 0.9);
    --background-tertiary: #220f14;
    --background-floating: #221115;
    --background-accent: #c5536c;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.32);
    --background-modifier-active: rgba(19, 12, 12, 0.32);
    --background-modifier-selected: rgba(31, 21, 21, 0.32);
    --toast-background: #5e3640 !important;
    --toast-header: #3b1d24 !important;
    --toast-contents: #49292f !important;
    --toast-border: #49292f !important;

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);

    :is(.layers_d4b6c5,.layers_a01fb1)>:is(.layers_d4b6c5,.layers_a01fb1,.layer_d4b6c5,.layerContainer_cd0de5,.layer_cd0de5,.layer_c9e2da)>:is(.container_a4d4d9,.container_ee69e0,.container_fd6364,.container_fa295b,.container_eba0ba,.containerPadding_eba0ba,.containerDefault_f6f816,.containerDefault_a08117,.container_cc72c1,.container_e1e976,.container_b2ca13,.container_e44302,.container_b558d0,.container_a3b500,.container_c47562,.container_cbd271,.container_e9f61e,.erd_scroll_detection_container,.erd_scroll_detection_container_animation_active,.containerTop_b18d5c,.containerWithContent_b64375,.container_b64375,.container_c9ccf6,.container_afed89,.container_c10249,.container_f4e139,.container_effbe2,.container_eedf95,.react-datepicker__month-container,.container_b15955,.container_ad9cbd,.container_c2739c,.container_c18ec9,.container_bf550a,.container_e5a42d,.container_df5532,.container_da1432,.container_ed1d57,.container_cebd1c,.vc-addon-title-container,.container_f0fccd,.container_f8b740,.container_c2668b,.container_e62b38,.container_ddc613,.container_f13432,.container_dc0b54,.container_c30bea,.container_b56bbc,.container_e41913,.container_af1167)::after {
        content: "Hu Tao";
        position: fixed;
        top: 220px;
        bottom: 85px;
        right: 60px;
        z-index: -2;
        width: 320px;
        background-color: var(--background-primary);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: var(--text-normal);
        border-radius: var(--border-radius);
        overflow: hidden;
    }
}
    .colorBrand-ROmMP1 { color: #bd4b63;}
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-1Gx00P { background-color: #c5536c !important;}
    .lookFilled-1Gx00P:active, .lookFilled-1Gx00P:hover { background-color: #b64a61 !important;}
    .lookOutlined-3sRXeN:not(.colorWhite-rEQuAQ) { color: #c5536c; border-color: #c5536c;}

    /* Hover background */
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { color: var(--interactive-normal);}

.theme-light {

    /* Text */
    --text-normal: #a86373;
    --header-primary: #a86373;
    --interactive-normal: #a86373;
    --channels-default: #a86373;

    --text-muted: #a86373;
    --interactive-muted: #cf92a0;

    --header-secondary: #cf92a0;
    --interactive-hover: #be7d8c;
    --interactive-active: #b36f7f;

    /* Background color */
    --background-primary: #FFFFFF;
    --background-secondary: #ffeeee;
    --background-secondary-alt: #fdc7c7;
    --background-tertiary: #ffbbbb;
    --background-floating: #ffbbbb;
    --background-accent: #c5536c;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.062);
    --background-modifier-active: rgba(19, 12, 12, 0.123);
    --background-modifier-selected: rgba(31, 21, 21, 0.11);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);

    :is(.layers_d4b6c5,.layers_a01fb1)>:is(.layers_d4b6c5,.layers_a01fb1,.layer_d4b6c5,.layerContainer_cd0de5,.layer_cd0de5,.layer_c9e2da)>:is(.container_a4d4d9,.container_ee69e0,.container_fd6364,.container_fa295b,.container_eba0ba,.containerPadding_eba0ba,.containerDefault_f6f816,.containerDefault_a08117,.container_cc72c1,.container_e1e976,.container_b2ca13,.container_e44302,.container_b558d0,.container_a3b500,.container_c47562,.container_cbd271,.container_e9f61e,.erd_scroll_detection_container,.erd_scroll_detection_container_animation_active,.containerTop_b18d5c,.containerWithContent_b64375,.container_b64375,.container_c9ccf6,.container_afed89,.container_c10249,.container_f4e139,.container_effbe2,.container_eedf95,.react-datepicker__month-container,.container_b15955,.container_ad9cbd,.container_c2739c,.container_c18ec9,.container_bf550a,.container_e5a42d,.container_df5532,.container_da1432,.container_ed1d57,.container_cebd1c,.vc-addon-title-container,.container_f0fccd,.container_f8b740,.container_c2668b,.container_e62b38,.container_ddc613,.container_f13432,.container_dc0b54,.container_c30bea,.container_b56bbc,.container_e41913,.container_af1167)::after {
        content: "Hu Tao";
        position: fixed;
        top: 220px;
        bottom: 85px;
        right: 60px;
        z-index: -2;
        width: 320px;
        background-color: var(--background-primary);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: var(--text-normal);
        border-radius: var(--border-radius);
        overflow: hidden;
    }
}

    .colorBrand-ROmMP1 { color: #c5536c;}
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-1Gx00P { background-color: #c5536c !important;}
    .lookFilled-1Gx00P:active, .lookFilled-1Gx00P:hover { background-color: #b64a61 !important;}
    .lookOutlined-3sRXeN:not(.colorWhite-rEQuAQ) { color: #c5536c; border-color: #c5536c;}

    /* Hover background */
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { color: var(--interactive-normal);}

    :root .app-2CXKsg::before { background: url(https://cdn.discordapp.com/attachments/530917134100856832/989199248518180955/Webp.net-resizeimage_5.png); }
    :root .app-3xd6d0::before,
    :root .app-3xd6d0::after, 
    :root .app-2CXKsg::after,
    :root .layers-OrUESM::before,
    :root .layers-OrUESM::after,
    :root .app-3xd6d0::before, 
    :root .bg-1QIAus::after,
    :root .bg-1QIAus::before {
  content: none !important;
    }
  .container-1eFtFS::after{content:"Scared Yet?";}
  .homeIcon-r0w4ny path {fill: transparent}
.homeIcon-r0w4ny {
    background: url('https://i.redd.it/sujdw6so8kd61.jpg') center/cover no-repeat;
    min-width: 60px;
    min-height: 60px;
}
